
<%- include ('./partials/header.ejs'); %>
<%- include ('./partials/navbarhome.ejs'); %>

<style>
   #l:hover{
      background-color: rgb(49, 97, 255);
      color: white;
   }
</style>

<div class=" d-flex" >

   <div class="nav pt-3 bg-light flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <% categories.forEach(category => { %>
      <a class=" nav-link" id="l" id="v-pills-home-tab" data-toggle="pill" href="/category/<%= category.slug %>" role="tab" aria-controls="v-pills-home" aria-selected="true"><%= category.title %></a>    
      <% }); %>
   </div>

   <div class="container">
      <br>
      <div class="jumbotron">
         <h1 class="display-4">Seja Bem-vindo!</h1>
         <p class="lead">Este e um site simples de um blog</p>
         <hr class="my-4">
         <p>Abaixo temos mais artigos sobre tecnologia!</p>
         <p class="lead">
           <a class="btn btn-primary btn-lg" href="#" role="button">Ler mais!</a>
         </p>
       </div>
       
              <% articles.forEach(articles =>{ %>
                       
               <div class="card">
                  <div class="card-header">
                     <h4><%=articles.title%></h4>
                  </div>
                  <div class="card-body">
                     <a href="/<%= articles.slug %>" class="btn btn-success">
                        Ler arquivo!
                     </a>
                  </div>
               </div>
              <br>
              <% }) %>
          
      
  </div>

</div>
<%- include ('./partials/footer.ejs') %>
